document.getElementById('book_comment').innerHTML = '<%= j(render 'books/comment', book_comments: @book_comments,book: @book) %>';
document.getElementById('comment').innerHTML = '<p>コメント数：<%= @book.book_comments.count %></p>';